{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% for post in posts %}
	{% if loop.first %}
	<article> 
		<header> 
			<time datetime="{{ post.pubdate|date("Y-m-d") }}" pubdate>{{ post.pubdate|date("l, jS F Y") }}</time> 
			<h1> 
				<a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a> 
			</h1> 
		</header>
		{{ post.get_excerpt }}
	</article>
	<article><h3>Older Posts</h3></article>
	{% else %}
	<article> 
		<header> 
			<time datetime="{{ post.pubdate|date("Y-m-d") }}" pubdate>{{ post.pubdate|timesince }} ago</time> - 
			<b> 
				<a href="{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a> 
			</b> 
		</header>
		{{ post.get_excerpt }}
	</article>
	{% endif %}
{% endfor %}
{% endblock %}
