{% extends "base.html" %}

{% block title %}{{ title }} >> Admin >> Edit Post{% endblock %}

{% block scripts %}
	<script src="/js/codemirror.js"></script>
	<script src="/js/codemirror-htmlmixed.js"></script>
	<script src="/js/codemirror-xml.js"></script>
	<script src="/js/codemirror-markdown.js"></script>
	<script src="/js/codemirror-javascript.js"></script>
	<link id="css-reset" rel="stylesheet" href="/css/codemirror.css?004" type="text/css">
	<link id="css-reset" rel="stylesheet" href="/css/markdown.css?004" type="text/css">
	<style>
	.postEditor {
		border-top: 1px solid black; 
		border-bottom: 1px solid black;
	}
	.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
	.activeline {background: #f0fcff !important;}	
	</style>
	<script>
	$(function() {
		var postEditor = document.getElementById('postEditor');
		var myCodeMirror = CodeMirror.fromTextArea(postEditor, {
			mode: 'markdown',
			lineWrapping: true,
			lineNumbers: true,
			onCursorActivity: function() {
		    myCodeMirror.setLineClass(hlLine, null);
		    hlLine = myCodeMirror.setLineClass(myCodeMirror.getCursor().line, "activeline");
		  }
		});
		var hlLine = myCodeMirror.setLineClass(0, "activeline");
	})
		
	</script>
{% endblock %}

{% block content %}
<article>
	<header>
		<h2>{% if post %}Edit{% else %}New{% endif %} {{ post_type|capitalize }}</h2>
	</header>
	<form method="post" action="/admin/posts/edit/{% if post %}{{ post.key() }}{% endif %}" id="admin_edit">
		<fieldset>
			<div class="clearfix">
				<label for="title">Title</label>
				<div class="input">
					<input type="text" name="title" class="span11" {% if post.title %}value="{{ post.title }}"{% endif %}>
				</div>
			</div>
			{% if post_type == 'post' %}
			<div class="clearfix">
				<label for="title">Sub-title</label>
				<div class="input">
					<input type="text" name="subtitle" class="span11" value="{{ post.subtitle }}">
				</div>
				<p><small>All optional</small></p>
			</div>
			{% endif %}
			<div class="clearfix">
				<label for="stub">Stub</label>
				<div class="input">
					<input type="text" name="stub" class="span8" disabled value="{{ post.stub }}"> <a href="/posts/{{ post.key() }}">Link ></a>
				</div>
			</div>
			{% if post_type == 'post' %}
			<div class="clearfix">
				<label for="title">Options</label>
				<div class="input">
					<input type="checkbox" name="featured" class="" {{ post.featured|checkbox }}> Featured
					<input type="checkbox" name="cached" class="" {{ post.cached|checkbox }}> Cached
				</div>
			</div>
			{% endif %}
			<div class="span16">
					<textarea name="content" id="postEditor" rows="20" class="span14">{{ post.content }}</textarea>
					<div class="help_text">
						<p><small>Accepts <a href="http://daringfireball.net/projects/markdown/" target="_new">Markdown</a></small></p>
						<p><small>Mark off excerpt with <code>--</code> on a new line</small></p>
						<p><small>Link: <code>[src](http://url)</code></small></p>
						<p><small>Image: <code>![alt](http://url)</code></small></p>
					</div>
			</div>						
			<div class="actions">
				<button type="submit" name="action" value="save" class="btn primary">save</button>
				<button type="submit" name="action" value="publish" class="btn success">publish</button>
       </div>
		</fieldset>
	</form>
</article>
{% endblock %}