{% extends "base.html" %}

{% block title %}{{ title }} >> Admin{% endblock %}

{% block content %}
<article>
	<header>
		<h2>{{ post_type|capitalize }} <small><a href="/admin/{{ post_type }}/new">New {{ post_type|capitalize }} >></a></small></h2>
	</header>
	<table id="admin_posts">
		<thead>
		<tr>
			<!-- <th><input type="checkbox" id="check_all"></td> -->
			<th>Title</th>
			<th>Status</th>
			<th>Created</th>
			<th>Published</th>
			<th></td>
			<th></td>
			<th></td>
		</tr>
		</thead>
		<tbody>
		{% for post in posts %}
			<tr class="{%- if post.featured %}featured{% endif %}">
				<td>{{ post.title }}</td>
				<td><span class="label {{ post.status }}">{{ post.status }}</span>
					{% if post.cached %}
						<span class="label cached">Cached</span>
					{% endif %}					
				</td>
				<td>{{ post.created|timesince }}</td>
				<td>
				{% if post.pubdate %}
					{{ post.pubdate|date("j M Y") }}
				{% else %}
					- 
				{% endif %}
				</td>
				<td><a href="/admin/{{ post_type }}s/edit/{{ post.key() }}" class="btn info">Edit</a></td>
				<td><a href="{{ post.url }}" target="_new" class="btn info">View</a></td>
				<td>
					{% if post.status == 'draft' %}
					<a href="/admin/{{ post_type }}s/publish/{{ post.key() }}" class="btn success">Publish</a>
					{% endif %}
				</td>				
		{% endfor %}
		</tbody>
	</table>
</article>
<article>
	<header>
		<h2>New {{ post_type|capitalize }}</h2>
	</header>
	<form method="post" action="/admin/posts" id="admin_edit">
		<fieldset>
			<div class="clearfix">
				<label for="title">Title</label>
				<div class="input">
					<input type="text" name="title" class="span11">
				</div>
			</div>
			<div class="clearfix">
				<label for="title">Content</label>
				<div class="input">
					<textarea name="content" rows="15" class="span11"></textarea>
				</div>
			</div>
			<div class="actions">
				<button type="submit" name="action" value="save" class="btn primary">save</button>
				<button type="submit" name="action" value="publish" class="btn success">publish</button>
       </div>
		</fieldset>
	</form>
</article>
{% endblock %}