{% extends "base.html" %}

{% block title %}{{ title }} >> Admin >> Edit Status{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<article>
	<header>
		<h2>{% if post %}Edit{% else %}New{% endif %} {{ post_type|capitalize }}</h2>
	</header>
	<form method="post" action="/admin/posts/edit/{% if post %}{{ post.key() }}{% endif %}" id="admin_edit">
		<fieldset>
			<div class="clearfix">
				<label for="title">Title</label>
				<div class="input">
					<input type="text" name="title" class="span11" {% if post.title %}value="{{ post.title }}"{% endif %}>
				</div>
			</div>
			{% if post_type == 'post' %}
			<div class="clearfix">
				<label for="title">Sub-title</label>
				<div class="input">
					<input type="text" name="subtitle" class="span11" value="{{ post.subtitle }}">
				</div>
				<p><small>All optional</small></p>
			</div>
			{% endif %}
			<div class="clearfix">
				<label for="stub">Stub</label>
				<div class="input">
					<input type="text" name="stub" class="span8" disabled value="{{ post.stub }}"> <a href="/posts/{{ post.key() }}">Link ></a>
				</div>
			</div>
			{% if post_type == 'post' %}
			<div class="clearfix">
				<label for="title">Options</label>
				<div class="input">
					<input type="checkbox" name="featured" class="" {{ post.featured|checkbox }}> Featured
					<input type="checkbox" name="cached" class="" {{ post.cached|checkbox }}> Cached
				</div>
			</div>
			{% endif %}
			<div class="span16">
					<textarea name="content" id="postEditor" rows="20" class="span14">{{ post.content }}</textarea>

			</div>						
			<div class="actions">
				<button type="submit" name="action" value="save" class="btn primary">save</button>
				<button type="submit" name="action" value="publish" class="btn success">publish</button>
       </div>
		</fieldset>
	</form>
</article>
{% endblock %}