{% extends "base.html" %}

{% block title %}{{ title }} >> Admin{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>Add {{ post_type|capitalize }}</h2>
	</div>	
	<div class="row">
		<div class="span16">
			<form method="post" action="/admin/posts" id="admin_edit">
				<input type="text" name="title" /><br />
				<textarea name="content"></textarea><br />
				<input type="hidden" name="post_type" value="{{ post_type }}">
				<button type="submit" name="action" value="save" class="btn primary">Save</button>
				<button type="submit" name="action" value="publish" class="btn success">Publish</button>
			</form>
		</div>
	</div>
{% endblock %}